
/* Global Styles */
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: #0D0D15;
  list-style: none;
}
  /* Header */
  .header {
    width: 1728px;
    height: 112px;
    padding: 32px 32px;
    justify-content: space-between;
    background-color: #1D1C28;
    align-items: center;
  }
  .header__logo-image {
    height: 42px;
    width: 188px;
  }
  .header__nav {
    width: 401px;
    height: 40px;
    gap: 15px;
    align-items: center;
  }
  .header__nav-link {
    font-family: 'poppins';
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    align-items: center;
  }
  .header__nav-link--active {
    border-bottom: 2px solid #00aaff;
  }
  .header__right .button {
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 18px;
  }
  .button--primary {
    padding: 10px 10px;
    background-color: #00aaff;
    color: #fff;
    border: 2px #D0D7FB2B;
  }
  .button--secondary {
    background-color: transparent;
    color: white;
    border: 2px solid #D0D7FB2B;
  }
  /* Hero Section */
  .hero {
    width: 1728px;
    height: 640px;
    text-align: center;
    padding: 164px 164px;
    background-color: #1D1C28;
    color: #fff;
  }
  .hero__heading {
    font-family: 'Bakbak One';
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: -0.5px;
  }
  .hero__subheading {
    font-family: 'poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
  }
  .hero__stat-number {
    font-family: 'Bakbak one';
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: -0.5px;
    vertical-align: bottom;
  } 
  .hero__stat-item {
    font-family:'poppins';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    vertical-align: bottom;
  }
  /*catalog section */
  .catalog{
    width: 1728px;
    height: 696px;
  }
.catalog__title {
   font-family: 'Bakbak One';
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color:   #F8F7FF;
    letter-spacing: 0px;
    gap: 8px;
}
.catalog__list-item{
  width: 300.8px;
  height: 480px;
  padding: 24px;
  gap: 24px;
}
.catalog__item-price {
  font-family: 'Bakbak One';
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #F5F8FB;
}
.catalog__item-name{
  font-family: 'poppins';
   font-size: 20px;
  line-height: 28px;
   font-weight: 500;
  letter-spacing: 0px;
  color: #EFF5FAD1;
}
  .catalog__item-status {
    width: 51px;
    height: 36px;
    border: solid #F5F8FB;
    background-color: #F5F8FB;
    font-family: 'poppins';
    font-size: 14px;
   line-height: 20px;
   font-weight: 600;
   letter-spacing: 0px;
   color: #0265DC;
   text-align: center;
  }
/* our blog */
.blog{
  width: 1728px;
  height: 2136px;
}
.section__title{
    font-family: 'Bakbak One';
    color:   #F8F7FF;
    font-size:  36px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: -0.5px;
    text-align: center;
}
.blog__kit-category{
    width: 46px;
    height: 36px;
    border: solid #F5F8FB;
    background-color: #F5F8FB;
    color:   #0265DC;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.blog__kit-author{
    font-family: 'poppins';
    color:   #EFF5FAD1;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0px;
}

.blog__kit-datetime{
    font-family: 'poppins';
    color:   #EFF5FAD1;
    font-size:  14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0px;
}
.blog__kit-title{
    font-family: 'bakbak one';
    color:   #F5F8FB;
    font-size:  36px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: -0.5px;
}
.blog__kit-description{
  font-family: 'poppins';
    color:   #EFF5FAD1;
    font-size:  16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0px;
}
.more__btn {
  width: 161px;
  height: 40px;
  background-color: transparent;
  border: 2px #D0D7FB2B;
  color:  #EFF5FAD1;
  font-size:  16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0px;
}
  /* About Us Section */
.about-us {
  width: 1728px;
  height: 610.4px;
} 
  .section-title {
    width: 1600px;
    height: 48px;
    font-family: 'bakbak one';
    color: #F8F7FF;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: center;
  } 
  .about-us__description {
    width: 1600px;
    height: 56px;
    font-family: 'poppins';
    color: #EFF5FAD1;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  } 
  .about-us__list-item {
    width: 376px;
    height: 234px;
    min-width: 328px;
  } 
  .about-us__number {
    font-size: 24px;
    font-weight: 600;
    color: #00aaff;
    border: 2px #0265DC;
    opacity: 50%;
  }
  .about-us__list-item-title {
    font-family: 'bakbak one';
    line-height: 32px;
    font-size: 24px;
    font-weight: 600;
    color: #F8F7FF;
    letter-spacing: 0px;
  }
  .about-us__item-description {
    font-family: 'poppins';
    font-size: 18px;
    line-height: 28px;
    color: #EFF5FAD1;
    letter-spacing: 0px;
  }
  .about-us__explanation {
    width: 149px;
    height: 48px;
    border: 2px #D0D7FB2B;
    font-family: 'poppins';
    color: #F5F8FB;
  }
/* Team Section */
.team {
  width: 1728px;
  height: 888px;
  background-color: #1D1C28;
  border-radius: 10px;
}
.section-title {
  width: 1600px;
  height: 48px;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #F8F7FF;
  text-align: center;
}
.team__list{
  width: 293px;
  height: 316px;
  border: 1px transparent;
  color: #1D1C28;
}
.team__member-name {
  font-family: 'poppins';
  width: 229px;
  height: 32px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  color: #f4f4f4;
  text-align: center;
}
.team__member-role {
  font-family: 'poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #EFF5FAD1;
    letter-spacing: 0px;
    text-align: center;
}
.social-item {
  width: 229.33px;
  height: 40px;
}
.social-link {
    display: inline-block;  
}
/* FAQ Section */
.faq {
    width: 1728px;
    height: 720px;
}
.section-title {
  font-family: 'bakbak one';
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.5px;
    text-align: center;
    color: #F8F7FF;
}
/* FAQ Details */
.faq__info {
    width: 1600px;
    height: 464px;
}
.faq__question {  
  width: 1600px;
  height: 152px;
  font-family: 'bakbak one';
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  background-color: #1D1C28;
  backdrop-filter: blur(20px);
  color: #F5F8FB;
}
.faq__answer {
  font-family: 'poppins';
  font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F5F8FB;
    letter-spacing: 0px;
}
/* Footer Section */
.footer{
  width: 1728px;
  height: 388px;
}
.footer__logo-link{
width: 188px;
height: 42px;
}
.footer__text {
  font-family: 'poppins';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #F5F8FB;
}
.footer__nav{
  width: 152px;
  height: 156px;
}
.footer__nav-title{
  font-family: 'poppins';
  font-size: 20px;
    line-height: 28px;
    color: #F5F8FB;
   font-weight: 500;
   letter-spacing: 0px;
}
.footer__nav-link{
  font-family: 'poppins';
  color: #F5F8FB;
  font-weight: 600;
  font-size:12px;
  line-height: 16px;
}
.social-item {
  width: 280px;
  height: 40px;
}
.social-link {
  width: 24px;
  height: 24px;
  display: inline-block; 
}