
/* Global Styles */
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: #0D0D15;
  list-style: none;
}
  /* Header */
  .header {
    padding: 32px 32px;
    justify-content: space-between;
    background-color: #1D1C28;
    align-items: center;
  }
  
  .header__nav {
    gap: 15px;
    align-items: center;
  }
  .header__nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    align-items: center;
  }
  .header__nav-link--active {
    border-bottom: 2px solid #00aaff;
  }
  .header__right .button {
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 18px;
  }
  .button--primary {
    padding: 10px 10px;
    background-color: #00aaff;
    color: #fff;
    border: 2px #D0D7FB2B;
  }
  .button--secondary {
    background-color: transparent;
    color: white;
    border: 2px solid #D0D7FB2B;
  }
  /* Hero Section */
  .hero {
    text-align: center;
    padding: 164px 164px;
    background-color: #1D1C28;
    color: #fff;
  }
  .hero__heading {
    font-family: 'Bakbak One';
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: -0.5px;
  }
  .hero__subheading {
    font-family: 'poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
  }
  .hero__stat-number {
    font-family: 'Bakbak one';
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: -0.5px;
    vertical-align: bottom;
  } 
  .hero__stat-item {
    font-family:'poppins';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    vertical-align: bottom;
  }
  /*catalog section */
.catalog__title {
   font-family: 'Bakbak One';
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color:   #F8F7FF;
    letter-spacing: 0px;
    gap: 8px;
}
.catalog__list-item{
  padding: 24px;
  gap: 24px;
}
.catalog__item-price {
  font-family: 'Bakbak One';
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #F5F8FB;
}
.catalog__item-name{
  font-family: 'poppins';
   font-size: 20px;
  line-height: 28px;
   font-weight: 500;
  letter-spacing: 0px;
  color: #EFF5FAD1;
}
  .catalog__item-status {
    border: solid #F5F8FB;
    background-color: #F5F8FB;
    font-size: 14px;
   line-height: 20px;
   font-weight: 600;
   letter-spacing: 0px;
   color: #0265DC;
   text-align: center;
  }
/* our blog */
.section__title{
    color:   #F8F7FF;
    font-size:  36px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: -0.5px;
    text-align: center;
}
.blog__kit-category{
    border: solid #F5F8FB;
    background-color: #F5F8FB;
    color:   #0265DC;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.blog__kit-author{
    color:   #EFF5FAD1;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0px;
}

.blog__kit-datetime{
    color:   #EFF5FAD1;
    font-size:  14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0px;
}
.blog__kit-title{
    color:   #F5F8FB;
    font-size:  36px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: -0.5px;
}
.blog__kit-description{
    color:   #EFF5FAD1;
    font-size:  16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0px;
}
.more__btn {
  background-color: transparent;
  border: 2px #D0D7FB2B;
  color:  #EFF5FAD1;
  font-size:  16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0px;
}
  /* About Us Section */
  .section-title {
    color: #F8F7FF;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: center;
  } 
  .about-us__description {
    color: #EFF5FAD1;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
  .about-us__number {
    font-size: 24px;
    font-weight: 600;
    color: #00aaff;
    border: 2px #0265DC;
    opacity: 50%;
  }
  .about-us__list-item-title {
    line-height: 32px;
    font-size: 24px;
    font-weight: 600;
    color: #F8F7FF;
    letter-spacing: 0px;
  }
  .about-us__item-description {
    font-size: 18px;
    line-height: 28px;
    color: #EFF5FAD1;
    letter-spacing: 0px;
  }
  .about-us__explanation {
    border: 2px #D0D7FB2B;
    font-family: 'poppins';
    color: #F5F8FB;
  }
/* Team Section */
.team {
  background-color: #1D1C28;
  border-radius: 10px;
}
.section-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #F8F7FF;
  text-align: center;
}
.team__list{
  border: 1px transparent;
  color: #1D1C28;
}
.team__member-name {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  color: #f4f4f4;
  text-align: center;
}
.team__member-role {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #EFF5FAD1;
    letter-spacing: 0px;
    text-align: center;
}

.social-link {
    display: inline-block;  
}
/* FAQ Section */
.section-title {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.5px;
    text-align: center;
    color: #F8F7FF;
}
/* FAQ Details */

.faq__question { 
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  background-color: #1D1C28;
  backdrop-filter: blur(20px);
  color: #F5F8FB;
}
.faq__answer {
  font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F5F8FB;
    letter-spacing: 0px;
}
/* Footer Section */
.footer__logo-link{
width: 188px;
height: 42px;
}
.footer__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #F5F8FB;
}
.footer__nav-title{
  font-size: 20px;
    line-height: 28px;
    color: #F5F8FB;
   font-weight: 500;
   letter-spacing: 0px;
}
.footer__nav-link{
  color: #F5F8FB;
  font-weight: 600;
  font-size:12px;
  line-height: 16px;
}