{% set currentPage = "Home" %}
 {% extends "layouts/base.njk" %}
{% set title =
"BINABOX - NFT Rarity Checker" %} {% set description = "BINABOX - The best way
to check the rarity of NFT collections. Discover, explore, and analyze NFTs
easily." %}
{% set page = "home" %}
{% block content %}
<!--HERO SECTION-->
{% include "blog-section.njk" %}

<!--BLOG CONTENT-->
<article class="">
  {% include "blog-article.njk" %}

  <!--NFT EXPLANATION-->
  {% include "aside-bar.njk" %}
</article>

<!--SIDEBAR CATEGORIES-->
<aside class="">
  {% include "" %}

  <!--SIDEBAR TAG-->
  {% include "" %}
</aside>
{% endblock %}