
<!--MAIN STARTS HERE-->

<!--HERO SECTION-->
{% include "partials/hero-index.njk" %}

<!--CATALOG SECTION-->
{% include "partials/catalog.njk" %}

<!--BLOG SECTION-->
{% include "partials/our-blog.njk" %}

<!--ABOUT US SECTION-->
{% include "partials/about-us.njk" %}


<!--FAQs SECTION-->
{% include "partials/faq.njk" %} {% endblock %}