<ul class="about-us__list">
        <li class="about-us__list-item">
          <span class="about-us__number">01</span>
          <h4 class="about-us__list-item-title">High Quality</h4>
          <p class="about-us__item-description">
            Lorem Ipsum is simply dummy text of the printing and Ipsum
            typesetting industry.
          </p>
        </li>
      <li class="about-us__list-item">
          <span class="about-us__number">02</span>
          <h4 class="about-us__list-item-title">Big Collection</h4>
          <p class="about-us__item-description">
            Lorem Ipsum is simply dummy text of the printing and Ipsum
            typesetting industry.
          </p>
        </li>
        <li class="about-us__list-item">
          <span class="about-us__number">03</span>
          <h4 class="about-us__list-item-title">Top resources</h4>
          <p class="about-us__item-description">
            Lorem Ipsum is simply dummy text of the printing and Ipsum
            typesetting industry.
          </p>
        </li>
        <li class="about-us__list-item">
          <span class="about-us__number">04</span>
          <h4 class="about-us__list-item-title">Big Community</h4>
          <p class="about-us__item-description">
            Lorem Ipsum is simply dummy text of the printing and Ipsum
            typesetting industry.
          </p>
        </li>
      </ul>