<section class="about-us">
      <h3 class="section-title">About us</h3>
      <p class="about-us__description">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occae cat cupidatat
        non proident, sunt in culpa qui officia dese runt mollit anim id est
        laborum velit esse cillum dolore eu fugiat nulla pariatu epteur sint
        occaecat
      </p>