<p class="blog-article__tag-title"><strong>Tags:</strong></p>
      <ul class="blog-article__tags-list">
        <li class="blog-article__tags-list">
          <a href="#" class="blog-article__tags-link">NFT</a>
        </li>
        <li class="blog-article__tags-list">
          <a href="#" class="blog-article__tags-link">ICO</a>
        </li>
        <li class="blog-article__tags-list">
          <a href="#" class="blog-article__tags-link">Crypto</a>
        </li>
      </ul>