<article class="blog-article__post">
      <img src="images/manofdragon.webp" alt="Man Of Dragon" width="1024" height="557" loading="lazy" decoding="async" class="blog-article__image" />
      <p class="blog-article__caption">Photo Caption</p>
      <h2 class="blog-article__title">The Basilikis NFT</h2>
      <div class="blog-article__category">
        <button class="blog-article__category-button">Gaming</button>
      </div>
      <div class="blog-article-author">
        <p class="blog-article__author-name">Tony Nguyen</p>
        <time datetime="2022-06-20" class="blog__article-datetime">20 jun 2022</time>
      </div>