<section class="blog-article-sidebar__section">
        <h4 class="blog-article-sidebar__section-title">tags</h4>
        <nav class="blog-article-sidebar__nav">
          <ul class="blog-article-sidebar__nav-list">
            <li class="blog-article-sidebar__nav-item"><a class="blog-article-sidebar__nav-link" href="#">NFT</a></li>
            <li class="blog-article-sidebar__nav-item"><a class="blog-article-sidebar__nav-link" href="#">ICO</a></li>
            <li class="blog-article-sidebar__nav-item"><a class="blog-article-sidebar__nav-link" href="#">Robot</a></li>
            <li class="blog-article-sidebar__nav-item"><a class="blog-article-sidebar__nav-link" href="#">Crypto</a>
            </li>
            <li class="blog-article-sidebar__nav-item"><a class="blog-article-sidebar__nav-link" href="#">Lauchpad</a>
            </li>
            <li class="blog-article-sidebar__nav-item"><a class="blog-article-sidebar__nav-link" href="#">Metaverse</a>
            </li>
          </ul>
        </nav>
      </section>
    
    