<p class="blog-article__tag-title"><strong>{{ tagBlock.title }}</strong></p>
<ul class="blog-article__tags-list">
  {% for tag in tagBlock.tags %}
    <li class="blog-article__tags-list">
      <a href="{{ tag.url | default('#') }}" class="blog-article__tags-link">{{ tag.name }}</a>
    </li>
  {% endfor %}
</ul>
