<section class="">
  <div class="">
    <div class="">
      <h3 class="">
        {{ catalogSection.title }}
      </h3>
    </div>
    <hr class="" />
    <div class="">
      {% include "partials/catalog-buttons.njk" %}
    </div>
  </div>
  <ul class="">
    {% for product in products %} {% set product = product %} {% include
    "partials/product-card.njk" %} {% endfor %}
  </ul>
</section>