<ul class="catalog__list">
        <li class="catalog__list-item">
          <div>
            <img src="images/skeleton.webp" alt="Skeleton" width="252" height="324"
            loading="lazy" decoding="async" class="catalog__item-photo" />
            <p class="catalog__item-status">New</p>
          </div>
          <p class="catalog__item-price">199$</p>
          <h4 class="catalog__item-name">Name</h4>
        </li>
        <li class="catalog__list-item">
          <div>
            <img src="images/cat.webp" alt="Mewooo" width="252" height="324"
            loading="lazy" decoding="async" class="catalog__item-photo" />
            <p class="catalog__item-status">New</p>
          </div>
          <p class="catalog__item-price">199$</p>
          <h4 class="catalog__item-name">Name</h4>
        </li>
        <li class="catalog__list-item">
          <div>
            <img class="catalog__item-photo" src="images/scisoors.webp" alt="Scissors" width="252" height="324"
            loading="lazy" decoding="async"/>
            <p class="catalog__item-status catalog__item-status--sold">Sold Out</p>
          </div>
          <p class="catalog__item-price">199$</p>
          <h4 class="catalog__item-name">Name</h4>
        </li>
        <li class="catalog__list-item">
          <div>
            <img src="images/disc.webp" alt="Drive Box" width="252" height="324"
            loading="lazy" decoding="async" class="catalog__item-photo" />
            <p class="catalog__item-status">New</p>
          </div>
          <p class="catalog__item-price">199$</p>
          <h4 class="catalog__item-name">Name</h4>
        </li>
        <li class="catalog__list-item">
          <div>
            <img src="images/drivebox.webp"  alt="Mother Board" width="252" height="324"
            loading="lazy" decoding="async" class="catalog__item-photo" />
            <p class="catalog__item-status">New</p>
          </div>
          <p class="catalog__item-price">199$</p>
          <h4 class="catalog__item-name">Name</h4>
        </li>
      </ul>
    
    