<button class="">
  <span class=""
    >{{ catalogButtons.all }}</span
  >
</button>
<button class="">
  <span class=""
    >{{ catalogButtons.prev }}</span
  >
</button>
<button class="">
  <span class=""
    >{{ catalogButtons.next }}</span
  >
</button>