<ul class="catalog__list">
  {% for item in catalog %}
  <li class="catalog__list-item">
    <div>
      <img
        src="{{ item.image.src }}"
        alt="{{ item.image.alt }}"
        width="{{ item.image.width }}"
        height="{{ item.image.height }}"
        loading="lazy"
        decoding="async"
        class="catalog__item-photo"
      />
      <p class="catalog__item-status{{ item.status == 'Sold Out' ? ' catalog__item-status--sold' : '' }}">
        {{ item.status }}
      </p>
    </div>
    <p class="catalog__item-price">{{ item.price }}</p>
    <
