<section class="catalog">
      <div class="catalog__header">
        <h3 class="catalog__title">Catalog</h3>
        <hr class="catalog__hr"/>
        <div class="catalog__buttons">
          <button class="catalog__button catalog__button--all">See All</button>
          <button class="catalog__button catalog__button--right">&lt;</button>
          <button class="catalog__button catalog__button--left">&lt;</button>
        </div>
      </div>