<footer class="">
  <div class="">
    <div class="">
      <a
        class=""
        href="{{ footer.logolink }}"
        title="{{ footer.logotitle }}"
      >
        <img
          class=""
          src="{{ footer.logoimg }}"
          alt="{{ footer.logoalt }}"
          loading="lazy"
        />
      </a>
    </div>
    <p class="">{{ footer.description }}</p>
    <div class="">
      {% for nav in footerNav %}
      <nav class="">
        <h5 class="">{{ nav.title }}</h5>
        <ul class="">
          {% for link in nav.links %}
          <li class="">
            <a class="" href="{{ link.url }}"
              >{{ link.item }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </nav>
      {% endfor %}
    </div>
  </div>
  <div class="">
    <div class="">
      <p class="t">{{ footer.copyright }}</p>
    </div>
    <ul class="">
      {% for social in footerSocials %}
      <li class="">
        <a class="" href="{{ social.link }}" target="_blank">
          <img
            class="social-media__icon"
            src="{{ social.img }}"
            alt="{{ social.alt }}"
            loading="lazy"
          />
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</footer>