<header class="header">
  <div class="header__logo">
      <a href="{{ header.logolink }}" class="header__logo-link">
      <img src="header.logoimg" alt="header.logoalt"  class="header__logo-image" /></a>
  </div>
  <nav class="header__nav">
  {% for item in header.nav %}
      <a href="/" class="header__nav-link header__nav-link--active">Home</a>
      <a href="#" class="header__nav-link">Blog</a>
      <a href="#" class="header__nav-link">Catalog</a>
      <a href="#" class="header__nav-link">Contact us</a>
  </nav>
  <div class="header__right">
      {% include "partials/header-button.njk %}
  </div>
  </header>