
      <button class="button button--secondary">
{{ headerButton.textSecondary}}
      <img src="#" alt="Discord" class="button__icon" />Discord
      </button>
      <button class="button button--primary">
{{headerButton.textPrimary}}
      <img src="#" alt="Connect" class="button__icon" />Connect
      </button>
