section class="hero">
      <h1 class="hero__heading">WITH <span class="text-blue"> BINABOX</span> EXPLORE NFT COLLECTION</h1>
      <h2 class="hero__subheading">
        we are the best way to check rarity of nft colelction
      </h2>
      <div class="hero__stats">
        <div>
          <p class="hero__stat-number">2240+</p>
          <p class="hero__stat-item">Total item</p>
          <button class="button button--primary">connect wallet</button>
        </div>
        <div>
          <p class="hero__stat-number">1000</p>
          <p class="hero__stat-item">Profiles Whitelist</p>
          <button class="button button--secondary">
            whitelist now
          </button>
        </div>
      </div>
      <img src="images/binacube.webp" width="533" height="641" loading="eager" decoding="async" alt="Cube" class="hero__image" />
    </section>