section class="blog-header">
    <h1 class="blog-header__title">Our Blog</h1>
    <nav class="blog-header__nav">
      <ul class="blog-header__nav-list">
        <li class="blog-header__nav-item"><a href="#" class="blog-header__nav-link">Home</a></li>
        <li class="blog-header__nav-item"><a href="#" class="blog-header__nav-link">Blog</a></li>
        <li class="blog-header__nav-item blog-header__nav-item--current">The Basiliskis NFT</li>
      </ul>
    </nav>
  </section>