<h3 class="blog-article__subtitle">{{ article.subtitle }}</h3>
<p class="blog-article__content">
  {{ article.content }}
</p>

<p class="blog-article__tag-title"><strong>{{ article.tagsTitle }}</strong></p>
<ul class="blog-article__tags-list">
  {% for tag in article.tags %}
    <li class="blog-article__tag-item">
      <a href="{{ tag.url }}" class="blog-article__tags-link">{{ tag.label }}</a>
    </li>
  {% endfor %}
</ul>
